<!DOCTYPE html>
<html>

<body>
    <div class="container">
        <form class="form" action="/scheduler/create" method="POST">
            <!-- Destination -->
            <div class="form-row">
                <label for="destination">Destination</label>
                <select class="form-control" id="destination" name="destination">
                    <option>Reddit</option>
                    <option>Twitter</option>
                </select>
            </div>
            <!-- /* TODO: Parameters */ -->
            <!-- Time -->
            <div class="form-row">
                <label for="time" class="col-2 col-form-label">Date and time</label>
                <input class="form-control" type="datetime-local" id="time" name="time">
            </div>
            <!-- Occurence -->
            <label for="occurence">Occurence</label>
            <div class="form-row">
                <p>Every</p>
                <div class="form-group col-md-5">
                    <input class="form-control" type="number" id="occurence_num" name="occurence_num"
                        placeholder="Choose a number">
                </div>
                <div class="form-group col-md-5">
                    <select class="form-control" id="occurence_unit" name="occurence_unit">
                        <option>Day(s)</option>
                        <option>Week(s)</option>
                        <option>Month(s)</option>
                        <option>Year(s)</option>
                    </select>
                </div>
            </div>

            <div class="row">
                <button type="submit" class="btn btn-primary">Submit</button>
            </div>
        </form>
    </div>
</body>

</html>
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<!-- Latest compiled JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>