<!DOCTYPE html>
<html>
<body>
  <div class="container">
    <form>
      <!-- Destination -->
      <div class="form-group">
        <div class="form-group">
          <label for="destinationFormSelect">Destination</label>
          <select class="form-control" id="destinationFormSelect">
            <option>1</option>
            <option>2</option>
            <option>3</option>
            <option>4</option>
            <option>5</option>
          </select>
        </div>
      </div>
      <!-- /* TODO: Parameters */ -->
      <!-- Time -->
      <div class="form-group">
        <label for="example-datetime-local-input" class="col-2 col-form-label">Date and time</label>
        <input class="form-control" type="datetime-local" id="example-datetime-local-input">
      </div>
      <!-- Occurence -->
      <div class="form-group">
        <div class="form-group">
          <label for="destinationFormSelect">Destination</label>
          <select class="form-control" id="destinationFormSelect">
            <option>1</option>
            <option>2</option>
            <option>3</option>
            <option>4</option>
            <option>5</option>
          </select>
        </div>
      </div>
      <!-- Query -->
      <div class="form-group">
        <label for="exampleFormControlTextarea1">Example textarea</label>
        <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
      </div>
      <button type="submit" class="btn btn-primary">Submit</button>
    </form>
  </div>
</body>
</html>
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<!-- Latest compiled JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>